# GCC things
*.gcno

# Gradle temp files

.gradle/

# IDEA project files

.idea/

# Build files

build/
out/

# Hades files
working_directory/
database_backup/

# Other lang files
config/language_files/DANK.lang
config/language_files/MIX.lang
